<h1>Edit Article</h1>

<%= render "form", article: @article%>

<%= link_to "Home", articles_path%>
<%= link_to "Delete", article_path, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure??"
                  }%>